:root{
  /* font family*/
  --ff-sans-serif: "Inter", sans-serif;

  /* font sizes */
  --fs-700: 1.5625rem;
  --fs-400: 0.64rem;
  --fs-700-heading: 1rem;

  /* color scheme*/
  --clr-body: 0 0% 11%;
  --clr-outer-dark: 227 11% 15%;
  --clr-info-dark: 231 12% 12%;
  --clr-footer-dark: 231 7% 9%;
  --clr-off-white: 0 0% 86%;
  --clr-stack: 25 79% 78%;
}

* {
  box-sizing: border-box;
}

html{
  margin: 0;
}

body {
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-400);
  color: hsl(var(--clr-off-white));
  background: hsl(var(--clr-body) / 1);
  line-height: 2;
  min-height: 100dvh;
}

section {
  background: hsl(var(--clr-outer-dark) / 1);
  max-width: 20rem;
  text-align: center;
  align-items: center;
}

.business-card-main{
  display: grid;
  place-items: center;
  background: hsl(var(--clr-outer-dark) /1);
  width: 25rem;
  margin-inline: auto;
  padding: 1em;
  border-radius: 0px 0px 10px 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  background: hsl(var(--clr-footer-dark) / 1);
  padding: 1.1875em 0;
  display: flex;

}
.footer-first-line, .footer-second-line{
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 247px;
}

.footer-social-icon{
  font-size: 2rem;
}